<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:config/config.properties</value>
        </property>
    </bean>

    <bean id="client" class="com.xh.vdcluster.rpc.NodeClient" init-method="start"/>

    <bean id="messageAdapter" class="com.xh.vdcluster.rabbitmq.MessageAdapter">
        <property name="hostName" value="${hostname}"/>
        <property name="password" value="${password}"/>
        <property name="port"  value="${port}"/>
        <property name="userName" value="${username}"/>
        <property name="virtualHost" value="${virtualhost}"/>
    </bean>

    <bean id="messageService" class="com.xh.vdcluster.service.impl.MessageServiceImpl"/>

    <bean id="reportService" class="com.xh.vdcluster.service.impl.ReportServiceImpl"/>

    <bean id="detectServiceOutAdapter" class="com.xh.vdcluster.rpc.ReportServiceAdapter">
        <constructor-arg name="serverPort" value="${thrift.localPort}"/>
        <constructor-arg name="service" ref="reportService"/>
    </bean>


    <bean id="detectServiceAdapter" class="com.xh.vdcluster.rpc.DetectServiceAdapter">
        <constructor-arg name="host" value="${thrift.remoteHost}"/>
        <constructor-arg name="port" value="${thrift.remotePort}"/>
    </bean>
</beans>