<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="client" class="com.xh.vdcluster.rpc.NodeClient" init-method="start"/>

    <bean id="messageAdapter" class="com.xh.vdcluster.AvatarMQ.MessageAdapter">
        <property name="hostName" value="${hostname}"/>
        <property name="password" value="${password}"/>
        <property name="port" value="${port}"/>
        <property name="userName" value="${username}"/>
        <property name="virtualHost" value="${virtualhost}"/>
    </bean>

    <bean id="messageService" class="com.xh.vdcluster.service.impl.DetectResultMessageService"/>

    <bean id="detectService" class="com.xh.vdcluster.service.impl.DetectServiceImpl"/>

    <bean id="detectServiceOutAdapter" class="com.xh.vdcluster.rpc.DetectServiceOutAdapter">
        <constructor-arg name="serverPort" value="${serverPort}"/>
        <constructor-arg name="service" ref="detectService"/>
    </bean>


    <bean id="detectServiceInAdapter" class="com.xh.vdcluster.rpc.DetectServiceInAdapter">
        <constructor-arg name="clientHost" value="${clientHost}"/>
        <constructor-arg name="clientPort" value="${clientPort}"/>
    </bean>
</beans>